.House {
    border: 1px solid #d1d5db; /* gray-300 */
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 0.5rem;
    overflow: hidden;
    height: 12vh;
    width: 20vw;
}

@media (min-width: 640px) {
    .House {
        height: 30vh;
        width: 22vw;
    }
}

.House:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem);
}

.House_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.House_img:hover {
    transform: scale(1.1);
}
