*{
    padding:0;
    margin: 0px;
    border: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: #7AB2B2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headimg{
    height: 78px;
    width:120px;
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
#headLine{
    justify-self: center;
    color: beige;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: bisque;
    font-size: 250%;
}
.headSearch{
    display:flex;
    align-self:last baseline;
    padding-right: 0.5%;
    margin-bottom: 4px;
    height: 25px;
}
#headInput{
    padding: 0%;
    margin: 0%;
    border-radius: 6px;
}
#headbutton{
    padding-left: 0;
    margin-left: 0;
    border-radius: 2px solid black;
    border-radius: 4px;
    width: 20px;
}

main{
    padding-top: 10px;
    text-align: center;
    background-color: #EEF7FF;
    height: 800px;
}
.mainSearch{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
#mainSearchbox{
    width: 50%;
    height: 40px;
    border-radius: 8px;
}
#mainSearchButton{
    height: 44px;
    margin-left: 1px;
    width: 4%;
    background-color: #CDE8E5;
    border-radius: 8px;
    border: 2px solid black;
}

.tiles{
    display: flex;
    width: 80%;
    height: 500px;
    background-color: #CDE8E5;
    margin-left: 140px;
    margin-top: 20px;
    border-radius: 5%;
    justify-content: space-evenly;
}
.Tile{
    width: 240px;
    height: 260px;
    margin-top: 15px;
    margin-left: 15px;
}

#stimg{
    width: 230px;
    height: 250px;
    background-size: cover;
    background-image: url("DBMS.png");
    border-radius: 14%;
}

#ndimg{
    width: 230px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("CN.png");
    border-radius: 14%;
}

#rdimg{
    width: 230px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("Git.png");
    border-radius: 14%;
}

.tileWord{
    text-decoration: none;
    font-size: x-large;
    color:black;
}

footer{
    background-color: #222831;
    height: 60px;
    color:white;
}




@media only screen and (max-width : 700px) {
    #headLine{
        font-size:large;
    }
    #headInput{
        width:100px;
    }
    #HeadButton{
        height: 25px;
        width: 30px;
    }
    #headimg{
        height: 50%;
        margin-right: 20px;
    }
}
@media only screen and (max-width : 380px) {
    header{
        height: 70px;
    }
    #headLine{
        font-size:100%;
    }
    #headInput{
        width:80px;
        border: none;
        padding: 0;
    }
    #Headbutton{
        height: 25px;
        width: 30px;
        border: none;
        padding: 0;
    }
    #headimg{
        height: 50%;
        margin-right: 20px;
    }
    H1{
        font-size: small;
    }
    #mainSearchbox{
        width: 40%;
        height: 10px;
    }
}
